<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Elepahnt Todo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.2/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
<style>
</style>

<body>
  <div class="navbar bg-base-100">
    <a class="btn btn-ghost normal-case text-xl">Elephant Todo</a>
  </div>
  <div class="container " />

  <div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
    <div class="rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
      <div class="mb-4">
        <div class="flex mt-4 w-full">
          <div class="form-control w-full">
            <div class="input-group">
              <input type="text" placeholder="Add Todo" class="input input-bordered w-full">
              <button class="btn btn-square btn-success">
                Add
              </button>
            </div>
          </div>

        </div>
      </div>
      <div>
        <div class="flex mb-4 items-center">
          <p class="w-full ">Add another component to Tailwind Components</p>
          <button class="ml-4 mr-2 btn btn-outline btn-success">Done</button>
          <button class="ml-2 btn btn-outline btn-error">Remove</button>
        </div>
        <div class="flex mb-4 items-center">
            <p class="w-full line-through">Submit Todo App Component to Tailwind Components</p>
          <button class="ml-4 mr-2 btn btn-outline primary">Not Done</button>
          <button class="ml-2 btn btn-outline btn-error">Remove</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

</html>